<div class="row mt-5 mt-sm-2 justify-content-center" *ngIf="user">

  <mdb-card class=" mb-4">
    <div class="container cursor-pointer border-bottom">
      <div class="row m-2 " title="{{user.username}}">
        <img src="{{user.profile_image.large}}" width="40" height="38" alt="avatar" class="rounded-circle"
             (click)="showLightbox()">
        <div class="overflow-hidden text-nowrap pl-2 pb-1">{{user.name}}</div>
      </div>
    </div>

    <mdb-card-body>
      <mdb-card-text>
        <table class="table">
          <tbody>
          <tr>
            <th scope="col">Username:</th>
            <td>{{user.username}}</td>
          </tr>
          <tr>
            <th scope="col">Name:</th>
            <td>{{user.name}}</td>
          </tr>
          <tr>
            <th scope="col">Location:</th>
            <td>{{user.location}}</td>
          </tr>
          <tr>
            <th scope="col">Total Photos:</th>
            <td>{{user.total_photos}}</td>
          </tr>
          <tr>
            <th scope="col">Following:</th>
            <td>{{user.following_count}}</td>
          </tr>
          <tr>
            <th scope="col">Followers:</th>
            <td>{{user.followers_count}}</td>
          </tr>
          <tr>
            <th scope="col">Instagram:</th>
            <td><a href="https://www.instagram.com/{{user.instagram_username}}">{{user.instagram_username}}</a></td>
          </tr>
          <tr>
            <th scope="col">Bio:</th>
            <td>{{user.bio}}</td>
          </tr>
          </tbody>
        </table>
      </mdb-card-text>
    </mdb-card-body>

    <mdb-card-footer class="pb-0">
      <div class="row w-100 mt-2 ">
        <div class="col-6">
          <mdb-badge color="red" class="" title="Likes">
            <h5 style="margin-bottom: -2px">{{user.total_likes}}
              <mdb-icon fas icon="heart" size="1x"></mdb-icon>
            </h5>
          </mdb-badge>
        </div>
        <div class="col-6">
          <ul class="right-buttons list-inline">
            <li class="list-inline-item pr-1">
              <a class="" (click)="showLightbox()" title="Fullscreen Avatar">
                <mdb-badge color="grey" class="">
                  <h5 style="margin-bottom: -2px">
                    <mdb-icon fas icon="expand" size="1x"></mdb-icon>

                  </h5>
                </mdb-badge>
              </a>
            </li>
            <li class="list-inline-item pr-1" *ngIf="user.portfolio_url">
              <a class="" href="{{user.portfolio_url}}" title="Go To Portfolio">
                <mdb-badge color="grey" class="">
                  <h5 style="margin-bottom: -2px">
                    <mdb-icon fas icon="info-circle" size="1x"></mdb-icon>
                  </h5>
                </mdb-badge>
              </a>
            <li class="list-inline-item pr-1" *ngIf="user.instagram_username">
              <a class="" href="https://www.instagram.com/{{user.instagram_username}}" title="Go To Instagram">
                <mdb-badge color="grey" class="">
                  <h5 style="margin-bottom: -2px">
                    <mdb-icon fab icon="instagram" size="1x"></mdb-icon>
                  </h5>
                </mdb-badge>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </mdb-card-footer>
  </mdb-card>
</div>

<div class="row">
  <div class="row mx-md-2"
       infiniteScroll
       [infiniteScrollDistance]="2"
       [infiniteScrollThrottle]="50"
       (scrolled)="loadMore()">

    <div
      class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 d-flex flex-column align-items-center justify-content-center align-items-stretch my-2"
      *ngFor="let photo of photos ">
      <app-photos-card class="h-100  w-100" [photo]="photo"></app-photos-card>
    </div>
  </div>
  <div class="row my-2">
    <div class="col text-center">
      <button mdbBtn type="button" color="blue" mdbWavesEffect (click)="loadMore()">Load More</button>
    </div>
  </div>
  <ngx-scrolltop backgroundColor="#3f51b5" symbolColor="white" size="60"></ngx-scrolltop>
</div>
<ng-image-fullscreen-view
  [images]="images"
  [imageIndex]="0"
  [show]="showFlag"
  (close)="closeEventHandler()"></ng-image-fullscreen-view>
