<div class="container h-100">
  <div class="row justify-content-center h-100">

    <!-- Card -->
    <mdb-card class="h-100  w-100" style="min-width: 135px; max-width: 360px">
      <!--Card content-->
      <div class="container">
        <div class="row m-1 cursor-pointer" [routerLink]="['/user', photo.user.username]"
             title="{{photo.user.username}}">
          <img src="{{photo.user.profile_image.small}}" width="40" height="38" alt="avatar" class="rounded-circle">
          <div class="overflow-hidden text-nowrap ml-2 mt-1">{{photo.user.name}}</div>
        </div>
      </div>

      <div class="h-100">
        <div class="w-100 ">
          <div class="view rgba-white-slight waves-light  w-100" mdbWavesEffect>
            <!-- Card img -->
            <a [routerLink]="['/photos', photo.id]" title="{{photo.description}}" class="w-100">
              <img src="{{photo.urls.regular}}" alt="Card image cap" class="img-fluid" style="max-height: 65vh">
            </a>
          </div>
        </div>
      </div>

      <mdb-card-footer>
        <div class="row justify-content-between w-100  ">
          <div class="col-2">
            <mdb-badge color="red" class="">
              <h5 style="margin-bottom: -2px">{{photo.likes}}
                <mdb-icon fas icon="heart" size="1x"></mdb-icon>
              </h5>
            </mdb-badge>
          </div>
          <div class="col-auto"></div>
          <div class="col-1 ">
            <a class="" href="{{photo.links.download}}?force=true'">
              <mdb-badge color="grey" class="">
                <h5 style="margin-bottom: -2px">
                  <mdb-icon fas icon="arrow-down" size="1x"></mdb-icon>
                </h5>
              </mdb-badge>
            </a>
          </div>
        </div>
      </mdb-card-footer>
    </mdb-card>
  </div>
</div>
